<div class="container border-top">
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 text-md-start text-center">
    <div class="col-md-3 mb-3 text-md-start text-center">
      <a href="/" class="d-flex justify-content-md-start justify-content-center align-items-center mb-3 link-body-emphasis text-decoration-none text-md-start text-center">
        <div class="h2 text-md-start text-center">LogoHere</div>
      </a>
      <p class="text-body-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      <p class="text-body-secondary">© 2024</p>
    </div>
    <div class="col-md-2 mb-3">
      <h5>Quick Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>
    <div class="col-md-2 mb-3">
      <h5>Discount</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col-md-2 mb-3">
      <h5>Stay Connected</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col-md-3 mb-3">
      <h5>Stay Updated</h5>
      <div class="input-group mb-3 mt-md-0 mt-4">
        <input type="text" class="form-control rounded-0" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn custom-btn rounded-0 text-light py-2" type="button" id="button-addon2"><i data-feather="send"></i></button>
      </div>
    </div>
  </footer>
</div>