<div class="banner-container px-md-0 px-2 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="banner-content-wrapper">
                    <small class="subtitle">New Arrival</small>
                    <h1 class="title">Discover Our<br>New Collection</h1>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <button class="btn btn-primary py-3 px-5 rounded-0 border-0 outline-0 custom-btn">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center py-5 px-md-0 px-2 pb-0">
    <h2>Browse the Range</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="row range-types py-5 pb-0">
        <div class="col-md-4 text-center">
            <img class="range-image" src="/dining.jpeg">
            <h4>Dining</h4>
        </div>
        <div class="col-md-4 text-center">
            <img class="range-image" src="/living.jpeg">
            <h4>Living</h4>
        </div>
        <div class="col-md-4 text-center">
            <img class="range-image" src="/bedroom.jpg">
            <h4>Bedroom</h4>
        </div>
    </div>
</div>
<app-products></app-products>
<app-home-gallery></app-home-gallery>
<div class="container py-4 px-md-0 px-2">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="p-5 text-md-start text-center">
          <h2 class="-offer-title">Black Friday Offer</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn custom-btn text-light py-2 px-3 rounded-0" type="button">View All</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-0 rounded-0 position-relative m-1">
            <img class="card-img-top" src="/bedroom.jpg" alt="...">
            <div class="card-body">
            <h5 class="card-title">Syltherine</h5>
            <p class="card-text">Stylish and elegant</p>
            <p class="card-text">Rp 2,500,000</p>
            </div>
            <div class="sale-badge bg-dark position-absolute top-0 end-0 m-2">Sale<br>20%</div>
            <div class="hover-card position-absolute w-100 h-100 overlay">
                <button class="btn btn-light py-3 px-5 rounded-0 border-0 outline-0">Add to Cart</button>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-0 rounded-0 position-relative m-1">
            <img class="card-img-top" src="/bedroom.jpg" alt="...">
            <div class="card-body">
            <h5 class="card-title">Syltherine</h5>
            <p class="card-text">Stylish and elegant</p>
            <p class="card-text">Rp 2,500,000</p>
            </div>
            <div class="sale-badge bg-danger position-absolute top-0 end-0 m-2">Sale<br>30%</div>
            <div class="hover-card position-absolute w-100 h-100 overlay">
                <button class="btn btn-light py-3 px-5 rounded-0 border-0 outline-0">Add to Cart</button>
            </div>
        </div>
      </div>
    </div>
</div>
